---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import HomePage from "../components/HomePage.astro";
---

<Layout title='Ingresar'>
  <NavBar></NavBar>
  <section>
    <HomePage></HomePage>
  </section>
</Layout>