---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Inicio">
	<NavBar></NavBar>

	<main class="bg-[url('/assets/img/Home-slider1.jpg')] bg-no-repeat bg-cover font-oswald p-10">
		<Hero></Hero>
	</main>
</Layout>