---

---
<div class="bg-[url('/assets/img/Home-slider1.jpg')] bg-no-repeat bg-auto w-full">
  <div class="flex items-center justify-center">
    <img src="/assets/img/Logo - Pescar 20 años - Isotipo 2.svg" alt="" class="w-44">
  </div>
</div>
<div class="bg-[#f0f0f0] w-full px-10 py-5">
  <a href="/home" class="flex items-center justify-start gap-2">
    <img src="/assets/img/Go-Back.svg" alt="">
    <span class="text-lg text-pescar-orange font-semibold uppercase">Regresar</span>
  </a>
  <h2 class="text-4xl uppercase text-pescar-blue font-medium tracking-tight py-11">Asistencia</h2>
  <form action="" class="flex flex-col gap-6">
    <span class="uppercase text-[#2d2d2d] font-medium pb-2 text-xl">Ingrese sus datos:</span>
    <input type="text" placeholder="DNI*" class="p-5 bg-transparent border-[#2d2d2d] border-2 placeholder:text-[#2d2d2d] text-[#2d2d2d] text-xl placeholder:font-light font-roboto">
    <input type="text" placeholder="NOMBRE*" class="p-5 bg-transparent border-[#2d2d2d] border-2 placeholder:text-[#2d2d2d] text-[#2d2d2d] text-xl placeholder:font-light font-roboto">
    <input type="text" placeholder="EMAIL*" class="p-5 bg-transparent border-[#2d2d2d] border-2 placeholder:text-[#2d2d2d] text-[#2d2d2d] text-xl placeholder:font-light font-roboto">
    <button class="bg-pescar-orange text-[#f0f0f0] text-2xl tracking-wide font-medium w-full px-16 py-5 uppercase" type="submit">Confirmar</button>
  </form>
</div>