---
---

<div class="bg-[url('/assets/img/Home-slider1.jpg')] bg-no-repeat bg-auto w-full h-screen">
  <div class="flex items-center justify-center">
    <img src="/assets/img/Logo - Pescar 20 años - Isotipo 2.svg" alt="" class="w-44">
  </div>
  <div class="bg-[#f0f0f0] w-full">
    <div class="flex flex-col text-center py-5 font-roboto -space-y-1">
      <h2 class="uppercase text-pescar-orange font-bold tracking-[0.3rem]">Fundacion</h2>
      <h1 class="uppercase text-pescar-blue font-semibold text-4xl">Pescar</h1>
      <p class="text-pescar-blue text-xs font-light">Educando para el Trabajo</p>
    </div>
    <div class="flex flex-col items-center justify-center py-8 gap-5">
      <a href="/assist" class="flex flex-col items-center justify-center gap-3">
        <img src="assets/img/Icon_ticket.svg" alt="" class="w-24 bg-pescar-blue rounded-full p-1">
        <span class="uppercase text-xl font-bold text-[#2d2d2d] font-oswald">Confirmar asistencia</span>
      </a>
      <a href="/trivia" class="flex flex-col items-center justify-center gap-3">
        <img src="assets/img/Icon_Trivia.svg" alt="" class="w-24 bg-pescar-blue rounded-full p-1">
        <span class="uppercase text-xl font-bold text-[#2d2d2d] font-oswald">Confirmar asistencia</span>
      </a>
    </div>
  </div>
  
</div>