<div>
  <a href="/" class="flex items-center justify-start gap-2">
    <img src="/assets/img/Go-Back.svg" alt="">
    <span class="text-lg text-pescar-orange font-semibold uppercase">Regresar</span>
  </a>
  <h2 class="text-2xl uppercase text-[#f0f0f0] font-medium tracking-tight py-11">Registrarse</h2>
  <form action="" class="flex flex-col gap-6">
    <input type="text" placeholder="NOMBRE*" class="p-5 bg-transparent border-[#f0f0f0] border-2 placeholder:text-[#f0f0f0] text-[#f0f0f0] text-xl placeholder:font-light font-roboto">
    <input type="text" placeholder="APELLIDO*" class="p-5 bg-transparent border-[#f0f0f0] border-2 placeholder:text-[#f0f0f0] text-[#f0f0f0] text-xl placeholder:font-light font-roboto">
    <input type="text" placeholder="EMAIL*" class="p-5 bg-transparent border-[#f0f0f0] border-2 placeholder:text-[#f0f0f0] text-[#f0f0f0] text-xl placeholder:font-light font-roboto">
    <input type="password" placeholder="CONTRASEÑA*" class="p-5 bg-transparent border-[#f0f0f0] border-2 placeholder:text-[#f0f0f0] text-[#f0f0f0] text-xl">
    <p class="text-gray-300 text-sm font-medium tracking-wide">Ingrese una contraseña de 8-16 caracteres</p>
    <button class="bg-pescar-orange text-[#f0f0f0] text-2xl tracking-wide font-medium w-full px-16 py-5 uppercase" type="submit">Registrarse</button>
  </form>
</div>